In [43]:
import requests
from bs4 import BeautifulSoup as B
import json
import pandas as pd
import os

html = requests.get("https://rdvial.gob.do/peajes/")
cursor = B(html.text, "html.parser")
findings = cursor.find_all("div", id="wpmapblock_153ead85")
title_map = {
    "Peaje 6 de Noviembre": "6 de Noviembre",
    "Estación de peaje Circunvalación Juan Bosch 1": "Tramo 1",
    "Estación de peaje Circunvalación Juan Bosch 2": "Tramo 2",
    "Estación de Peaje Circunvalación Santiago": "Santiago",
    "Peaje Coral 1": "Coral 1",
    "Peaje Coral 2": "Coral 2",
    "Peaje Duarte": "Duarte",
    "Peaje La Romana": "Romana",
    "Peaje Las Américas": "Americas",
    "Peaje Sánchez": "Sanchez",
    # "Peaje Azua": "Azua",
    "Peaje Marbella": "Marbella",
    "Peaje Naranjal": "Naranjal",
    "Peaje Guaraguao": "Guaraguao",
    "Peaje El Catey": "Catey"
}


settings_str = findings[0].get("data-settings")
settings_dict = json.loads(settings_str)
settings_dict = [{"lat": x["lat"], "lng": x["lng"], "title": title_map[x['title']]}
                 for x in settings_dict["map_marker"] if x['title'] in title_map.keys()]
settings_dict.append({
    'lat': 18.57225770188021,
    'lng': -69.77991741619846,
    'title': 'Tramo 2B'
})

df = pd.DataFrame(settings_dict).astype({"lat": float, "lng": float, "title": 'string'})
print(df.dtypes)
print(df.shape)
df.head()

lat             float64
lng             float64
title    string[python]
dtype: object
(15, 3)

        lat       lng           title
0  18.44438 -70.00161  6 de Noviembre
1  18.46784 -70.05065         Tramo 1
2  18.47485 -70.05070         Tramo 2
3  19.52216 -70.74407        Santiago
4  18.51722 -68.82749         Coral 1

In [44]:
if not os.path.exists("./data"):
    os.makedirs("./data")
df.to_csv("./data/locations.csv", index=False)